@font-face {
    font-family: 'DinaRemasterII';
    src: url('../fonts/DinaRemasterII.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DinaRemasterII';
    src: url('../fonts/DinaRemasterII-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

body {
    font-family: 'DinaRemasterII', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    color: #00FF00;
    position: relative;
    overflow: hidden;
}

.terminal-container {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 1;
}

.terminal {
    font-family: 'DinaRemasterII', Arial, sans-serif;
    font-size: 24px;
    white-space: pre-wrap;
    text-align: left;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.container {
    text-align: center;
    margin: auto;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -16%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
    width: 70%;
}

.title,
.instructions {
    color: #00FF00;
    text-align: center;
    font-family: DinaRemasterII;
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.title {
    font-size: 56px;
    font-weight: 700;
    line-height: normal;
}

.instructions {
    font-size: 32px;
    font-weight: 500;
}

.choices,
.color-display {
    margin-top: 80px;
    display: flex;
    gap: 44px;
    justify-content: center;
    position: relative;
}

.choice {
    padding: 10px 20px;
    border: 1px solid #000;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: relative;
    font-size: 24px;
}

.choice.selected {
    position: relative;
}

.choice.selected:after {
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -5px;
    left: 25%;
}

.choice:not(.selected) {
    opacity: 0.5;
}

.color-circle {
    width: 176px;
    height: 176px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s, filter 0.3s, transform 0.3s;
    position: relative;
}

.color-circle.selected {
    transform: scale(1.2);
}

.color-circle.selected:after {
    content: "";
    display: block;
    width: 30%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -32px;
    left: 35%;
}

.color-circle:nth-child(1) {
    background-color: #E60909;
}

.color-circle:nth-child(2) {
    background-color: #E6D009;
}

.color-circle:nth-child(3) {
    background-color: #6a00ff;
}

.color-circle:nth-child(4) {
    background-color: #0969E6;
}

.color-circle:nth-child(5) {
    background-color: #ff00ea;
}

.color-circle.selected:nth-child(1) {
    filter: drop-shadow(0px 0px 20px #E60909);
}

.color-circle.selected:nth-child(2) {
    filter: drop-shadow(0px 0px 20px #E6D009);
}

.color-circle.selected:nth-child(3) {
    filter: drop-shadow(0px 0px 20px #6a00ff);
}

.color-circle.selected:nth-child(4) {
    filter: drop-shadow(0px 0px 20px #0969E6);
}

.color-circle.selected:nth-child(5) {
    filter: drop-shadow(0px 0px 20px #ff00ea);
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes delayedFadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.fade-out {
    animation: fadeOut 2s forwards;
}

.fade-out-delayed {
    animation: delayedFadeOut 2s forwards 2s;
}

.hidden {
    display: none;
}

.intro-text p, .start-message {
    font-size: 28px;
    line-height: 32px;
    margin: 4px 0;
    opacity: 0;
}
